@use 'base/mixins' as m;
@use 'base/variables' as v;

.domicilio {
    padding: 0 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$negro;
    &__contenedor-boton {
        @include m.tablet {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 5rem
        }
    }
    &__boton {
        @include m.boton(v.$secundario, v.$blanco);
        text-transform: uppercase;
        font-size: 1.4rem;
        @include m.tablet {
            width: auto;
        }
    }
    &__contenedor {
        @include m.shadow;
        background-color: v.$negro-solid;
        padding: 2rem;
        border-radius: 1rem;
    }
    &__formulario {
        @extend .domicilio__contenedor;
        @include m.contenedor-md;
        margin-top: 5rem;
    }
}