@use 'base/mixins' as m;
@use 'base/variables' as v;

.crear-pedido {
    &__navegacion {
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem 2rem 0;
        width: 25rem;
    }
    &__enlace {
        display: inline;
        padding: 3rem;
        text-align: center;
        color: v.$blanco;
        text-transform: uppercase;
        width: auto;
        border-bottom: 1px solid lighten(v.$negro-solid, 30%);
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            cursor: pointer;
            background-color: darken(v.$negro, 10);
        }
    }
}